{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-confusing-arrow": [0],
    "object-curly-newline": [0],
    "react/jsx-filename-extension": [0],
    "react/require-default-props": [0]
  }
}
